.productCard {
  border-radius: 5px;
  margin: 1vw;
  text-align: center;
  height: 30vh;
  width: 30vw;
}

.name {
  background-color: rgb(0, 0, 0, 0.5);
  font-size: 2rem;
  margin: 2vmin;
  border-radius: 5px;
}